<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
<h1>form</h1>
<form action="/user/login/process" enctype="utf8" method="POST">
      

    <label>Email</label>   
    <input name="username" type="text"/> <br>
        
    <label>Password</label>
    <input name="password" type="password"/> <br>

        
    <button type="submit">submit</button>

</form>
 
<a href="/user/registration">Do you want to create an account?</a>
</body>

</html>